{% extends 'base.html' %}

{% block title %}QR codes{% endblock %}

{% block content %}

<p>Use the form below to create QR codes with custom contents.</p>

<section>
	<form method="post">
		{{ form.csrf_token }}

		<div class="row gtr-uniform">
			<div class="col-12">
				{{ form.content.label }}
				{{ form.content }}
			</div>
			<div class="col-12">
				{{ form.recaptcha.label }}
				{{ form.recaptcha }}
			</div>
			<div class="col-12">
				<ul class="actions">
					<li>{{ form.submit }}</li>
					<li><input type="reset" value="Reset"></li>
				</ul>
				<p>* required fields</p>
			</div>
		</div>
	</form>
</section>

<section>
	<h2>How it works</h2>

	<p>This tool builds on <a href="https://pypi.org/project/qrcode/" target="_blank">qrcode</a>, a pure python QR code generator.</p>
</section>

{% endblock %}