<!DOCTYPE HTML>

<html>
	<head>
		<title>Ad-free / {% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ url_for('index') }}" class="logo">
									<span class="symbol"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Ad-free logo" /></span><span class="title">Ad-free</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('qrcodes.index') }}">QR codes</a></li>
							<li><a href="{{ url_for('pdfmerge.index') }}">PDF merge</a></li>
							<li><a href="{{ url_for('youtubedl.index') }}">YouTube dl</a></li>
							<li><a href="{{ url_for('about') }}">About</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							{% block content %}{% endblock %}
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://github.com/romanc/ad-free" target="_blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li><a href="{{ url_for('legal') }}">Legal</a></li><li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>