{% extends 'base.html' %}

{% block title %}YouTube dl{% endblock %}

{% block content %}

<h1>YouTube dl</h1>

<p>Use the form below to download videos.</p>

{% for message in get_flashed_messages() %}
	<div class="flash"><p>{{ message }}</p></div>
{% endfor %}

<section>
	<h2>Form</h2>
	<form method="post">
		<div class="row gtr-uniform">
			<div class="col-12">
				<input type="text" name="link" id="link" value="{{ request.form['link'] }}" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			</div>
			<div class="col-6 col-12-small">
				<input type="checkbox" id="human" name="human">
				<label for="human">Not a robot</label>
			</div>
			<div class="col-6 col-12-small">
				<ul class="actions">
					<li><input type="submit" value="Generate QR code" class="primary"></li>
					<li><input type="reset" value="Reset"></li>
				</ul>
			</div>
		</div>
	</form>
</section>

<section>
	<h2>How it works</h2>

	<p>This tool builds on <a href="http://ytdl-org.github.io/youtube-dl/" target="_blank">youtube-dl</a>.</p>
</section>

{% endblock %}