{% extends 'base.html' %}

{% block title %}YouTube dl{% endblock %}

{% block content %}

{% if file %}
<div>
	<h2>Your file is ready</h2>
	<p><a href="{{ url_for('youtubedl.static', filename=file) }}">Download</a></p>
</div>
{% endif %}

{% for message in get_flashed_messages() %}
	<div>
		<p style="padding: 0.5em; background-color: rgba(255,0,0,0.5); border: 2px solid darkred;">
		{{ message }}
		</p>
	</div>
{% endfor %}

<p>Use the form below to download videos. There's no progress indication. For longer videos, please be patient.</p>

<section>
	<form method="post">
		{{ form.csrf_token }}

		<div class="row gtr-uniform">
			<div class="col-12">
				{{ form.link.label }}
				{{ form.link }}
			</div>
			<div class="col-12">
				{{ form.recaptcha.label }}
				{{ form.recaptcha}}
			</div>
			<div class="col-12">
				<ul class="actions">
					<li>{{ form.submit }}</li>
					<li><input type="reset" value="Reset"></li>
				</ul>
				<p>* required fields</p>
			</div>
		</div>
	</form>
</section>

<section>
	<h2>How it works</h2>

	<p>This tool builds on <a href="http://ytdl-org.github.io/youtube-dl/" target="_blank">youtube-dl</a>.</p>
</section>

{% endblock %}